<div class="page">
  <div class="header">
    <h1>Editing... <%= @spot.name %></h1>
  </div>


    <%= simple_form_for(@spot) do |f| %>
    <div class="new-spot-form">
       <p class="list-group-item-info"> <%= f.input :name%> </p>
       <p class="list-group-item-info"> <%= f.input :description, as: :text, class: "new-spot-form-input" %> </p>
       <p class="list-group-item-info"> <%= f.input :photo, as: :file %> </p>
       <div class="btn-new-spot-create">
        <%= f.submit class: 'btn btn-success'%>
       </div>
    <% end %>
  </div>

  <div class="btn-back">
    <%= link_to "Back", spot_path(@spot), class:"btn btn-dark"%>
  </div>
</div>
