<div class="page">
  <div class="header">
    <h1>Which spot would you like to add?</h1>
  </div>

  <div class="new-spot-form">
    <%= simple_form_for(@spot) do |f| %>
        <%= f.input :name, class:"new-spot-form-input"%>
        <%= f.input :description, class: "new-spot-form-input" %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-success my-3'%>
    <% end %>
  </div>

  <div class="btn-back">
    <%= link_to "Back", spots_path, class:"btn btn-success"%>
  </div>
</div>
