<div class="page">
  <div class="header">
    <h1><%= @spot.name%></h1>
    <h4>Good choice 😏 </h4>
  </div>

    <div class="spot-image-container">
      <% if @spot.photo.attached? %>
        <%= cl_image_tag @spot.photo.key, height: 300, width: 300, crop: :fill, class: "spot-image" %>
      <% else %>
        <%= image_tag "lisbon.jpg", class: "spot-image" %>
      <% end %>
    </div>

  <div class="spot-description">
    <p><%= @spot.description%></p>
  </div>

  <div class="btn-show-page">
    <div class="btn-edit">
      <%= link_to "Edit", edit_spot_path(@spot), class: "btn btn-success" %>
    </div>

    <div class="btn-delete">
      <%= link_to "Delete", spot_path(@spot), class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>

  <div class="btn-back">
    <%= link_to "Back", spots_path, class: "btn btn-dark"%>
  </div>
</div>

