<div class="page">
  <p id="date"> <%= Date.today%> </p>
  <div class="header">
    <h1>🇵🇹 Welcome to Lisbon! </h1>
    <h2>Find out the best spots in Lisbon <i class="fas fa-heart"></i></h2>
    <h4> We currently have <%= @spots.count%> spots to show you!</h4>
  </div>

  <%= form_tag spots_path, class: 'search-form-control form-group', method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a spot"%>
    <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>

  <div class="btn-view-all-spots">
    <%= link_to "View all spots", spots_path, class:"btn btn-dark"%>
  </div>

  <div class="top-spots-slider">
    <div class="slider">
      <div class="slide" id="slide-2"> <div class="card-category" style="background-image: url(<%= asset_path('comercio.jpeg') %>);">
        Praça do Comercio</div>
      </div>
      <div class="slide" id="slide-3"><div class="card-category" style="background-image: , url(<%= asset_path('graca2.jpeg') %>);">
        Graça </div>
      </div>
      <div class="slide" id="slide-3"><div class="card-category" style="background-image: , url(<%= asset_path('portaDoSol.jpeg') %>);">
        Porta do Sol </div>
      </div>
    </div>
  </div>

</div>
